// CircleBold
@font-face {
  font-family: 'CircleBold';
  src: url('../fonts/circle_bold/Circe-Bold.eot');
  src: url('../fonts/circle_bold/Circe-Bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/circle_bold/Circe-Bold.ttf') format('truetype'),
       url('../fonts/circle_bold/Circe-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  text-rendering: optimizeLegibility;
}

//CircleLight
@font-face {
  font-family: 'CircleLight';
  src: url('../fonts/circle_light/Circe-Light.eot');
  src: url('../fonts/circle_light/Circe-Light.eot?#iefix') format('embedded-opentype'),
       url('../fonts/circle_light/Circe-Light.ttf') format('truetype'),
       url('../fonts/circle_light/Circe-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  text-rendering: optimizeLegibility;
}

// CircleExtraBold
@font-face {
  font-family: 'CircleExtraBold';
  src: url('../fonts/circle_extrabold/Circe-ExtraBold.eot');
  src: url('../fonts/circle_extrabold/Circe-ExtraBold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/circle_extrabold/Circe-ExtraBold.ttf') format('truetype'),
       url('../fonts/circle_extrabold/Circe-ExtraBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  text-rendering: optimizeLegibility;
}

/*@font-face {
  font-family: 'Crosshatcher';
  src: url('../fonts/Crosshatcher/Crosshatcher.eot'); !* IE9 Compat Modes *!
  src: url('../fonts/Crosshatcher/Crosshatcher.eot?#iefix') format('embedded-opentype'), !* IE6-IE8 *!
  url('../fonts/Crosshatcher/Crosshatcher.woff2') format('woff2'), !* Modern Browsers *!
  url('../fonts/Crosshatcher/Crosshatcher.woff') format('woff'), !* Modern Browsers *!
  url('../fonts/Crosshatcher/Crosshatcher.ttf') format('truetype'), !* Safari, Android, iOS *!
  url('../fonts/Crosshatcher/Crosshatcher.svg#ProximaNova-Black') format('svg'); !* Legacy iOS *!
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}*/
