html {
  overflow-x: hidden;
  overflow-y: scroll;
  box-sizing: border-box;
}
body {
  height: auto;
  min-height: 100%;
  min-width: 320px;
  overflow: auto;
  font-size: 14px;
  font-family: $circleLight, Arial, 'sans-serif';
  -webkit-text-size-adjust: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  &:before,
  &:after {
    box-sizing: border-box;
  }
}

a  {
  text-decoration: none;
  cursor: pointer;
  color: #000000;
  outline: none;
}

h1, h2, h3, h4, h5 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  display: inline-block;
  margin: 0;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

dt, dd {
  display: inline-block;
}

img {
  user-select: none;
}