// Colors
$blue: #3394df;
$greyLight: #f4f4f4;
$grey: #f1f3f5;
$greyDark: #dae0e6;
$red: #e74936;
$white: #ffffff;

$linkHover: #695555;

// Fonts
$circleLight: 'CircleLight';
$circleBold: 'CircleBold';
$circleExtraBold: 'CircleExtraBold';