.g-section {

}

.g-wrap {
  padding: 0 10px;
  max-width: 1200px;
  margin: 0 auto;
}


@media screen and (min-width: 768px) {

  .g-wrap {

  }

}

@media screen and (min-width: 1024px) {}
@media screen and (min-width: 1200px) {}
@media screen and (min-width: 1440px) {}