<div class="about">
    <h1 class="about__title">Обо мне</h1>
    <div class="about__photo"></div>
    <div class="about__text">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Lacus viverra vitae congue eu consequat. Euismod lacinia at quis risus sed. Sapien eget
            mi proin sed libero. Eget felis eget nunc lobortis mattis aliquam. Elit ut aliquam purus sit. Elementum
            integer enim neque volutpat ac tincidunt vitae. Porttitor eget dolor morbi non arcu risus quis varius.
            Mauris a diam maecenas sed. Mattis vulputate enim nulla aliquet. Platea dictumst vestibulum rhoncus est.
            Velit sed ullamcorper morbi tincidunt ornare massa eget egestas. At imperdiet dui accumsan sit amet nulla
            facilisi morbi. Placerat duis ultricies lacus sed. Quisque id diam vel quam elementum pulvinar etiam.
        </p>
        <p>
            Sagittis orci a scelerisque purus semper eget duis at tellus. Quam adipiscing vitae proin sagittis nisl. Et
            netus et malesuada fames. Viverra aliquet eget sit amet tellus cras adipiscing enim eu. Etiam tempor orci eu
            lobortis elementum nibh tellus molestie. Arcu dictum varius duis at consectetur lorem. Tincidunt praesent
            semper feugiat nibh sed pulvinar proin gravida hendrerit. Venenatis a condimentum vitae sapien pellentesque
            habitant morbi tristique. Turpis egestas pretium aenean pharetra magna ac placerat. Pulvinar neque laoreet
            suspendisse interdum consectetur libero id faucibus nisl. Tortor at risus viverra adipiscing at in tellus
            integer feugiat. Feugiat in ante metus dictum at. Felis donec et odio pellentesque diam. Non arcu risus quis
            varius. Orci porta non pulvinar neque laoreet suspendisse interdum.
        </p>
    </div>
</div>