@use 'abstract' as *;

.g-content {
    position: relative;
    height: 100vh;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    text-align: center;
    background-color: $color-black;
    color: $color-white;

    &__picture {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: url(images/2.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        filter: blur(15px);
        opacity: 0;

        &.fade-in-blur {
            animation: 4s fadeInBlur ease forwards;
        }
    }

    &__text {
        max-width: 600px;
        z-index: 5;

        &.fade-out-blur {
            animation: 2s fadeOutBlur ease  forwards;
        }
    }

    &__sign {
        position: absolute;
        right: 32px;
        bottom: 64px;
        font-style: italic;
        opacity: 0;
        filter: blur(15px);

        &.fade-in-out-blur {
            animation: fadeInOutBlur ease 4s forwards;
        }
    }

    @media all and(max-width: 767px) {
        font-size: 20px;

        &__picture {
            background-position: top center;
        }
    }
}

@keyframes fadeOutBlur {
    0% {
        filter: blur(0);
        opacity: 1;
    }
    100% {
        filter: blur(15px);
        opacity: 0;
    }
}

@keyframes fadeInBlur {
    0% {
        filter: blur(15px);
        opacity: 0;
    }
    100% {
        filter: blur(0);
        opacity: 1;
    }
}

@keyframes fadeInOutBlur {
    0% {
        filter: blur(15px);
        opacity: 0;
    }
    50% {
        filter: blur(0);
        opacity: 1;
    }
    100% {
        filter: blur(15px);
        opacity: 0;
    }
}