.device-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
}

.device {
    width: 166px;
    height: 166px;
    position: relative;
    cursor: pointer;

    &__bg {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        transform: rotateY(0);
        transition: transform .3s ease-out, opacity .15s 0.05s ease-out;

        &_back {
            background: url(../images/device-back.png) no-repeat center / cover;

            .is-active & {
                transform: rotateY(180deg);
                opacity: 0;
            }
        }

        &_front {
            opacity: 0;
            transform: rotateY(180deg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;

            .is-active & {
                transform: rotateY(0);
            opacity: 1;
            }
        }

        &_watch {
            background-image: url(../images/device-watch.png);
        }

        &_phone {
            background-image: url(../images/device-phone.png);
        }

        &_tablet {
            background-image: url(../images/device-tablet.png);
        }

        &_lap {
            background-image: url(../images/device-lap.png);
        }
    }
}
