#text {
    max-width: 600px;
}

#form {
    display: flex;
    flex-direction: column;

    input,
    textarea {
        margin-bottom: 15px;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        padding: 10px;
        max-width: 400px;
        text-align: center;
        color: #7d7d7d;
        outline: none;
        font-family: "JB-Reg";

        &::placeholder {
            color: #e7e7e7;
            transition: cubic-bezier(0.25, 0.46, 0.45, 0.94);
        }
    }

    textarea {
        min-height: 150px;
        resize: none;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    button {
        margin: 0 auto 15px;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        padding: 10px;
        color: #7d7d7d;
        outline: none;
        font-family: "JB-Reg";
        cursor: pointer;
    }

    a {
        font-size: 16px;
        color: #7d7d7d;
    }
}
