@use 'abstract';

body {
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    background: url(../images/1.jpg) no-repeat center / cover;
    font-family: "JB-Reg";
    color: #7d7d7d;
    text-align: center;
}

::selection {
    background: #7d7d7d;
    color: #e7e7e7;
}