@use 'abstract' as *;
@use 'form';
@use 'content';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    min-width: 320px;
    font-family: "JB-Reg";

    &.theme-grey {
        color: $color-grey;

        ::selection {
            background: $color-grey;
            color: $color-grey-light;
        }
    }

    &.theme-deep-blue {
        color: $color-white;
        user-select: none;

        ::selection {
            background: $color-deep-blue;
            color: $color-white;
        }
    }
}

h1 {
    margin-top: 0;
}

@media all and(max-width: 767px) {
    h1 {
        font-size: 32px;
    }
}
